html {
  min-height: 100%;
}

body {
  height: 100%;
  margin: auto;
  background-image: url(pexels-monicore-1391487.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  );
  font: 18px Arial, sans-serif;
}

a {
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px #000008;

}
div {
  display: flex;
  justify-content: center;
}

img {
  width: 500px;
  box-shadow: 0px 0px 10px #000008;
  border-radius: 20px;
  margin-top: 20px;
}

ul {
  display: table;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px #000008;
}

ol {
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px #000008;
}

h1 {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px #000008;
}

h2 {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px #000008;
}

h3 {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px #000008;
}

p {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px #000008;
}
