html {
  min-height: 100%;
}

body {
  height: 100%;
  margin: auto;
  background-image: url(pexels-monicore-1391487.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font: 18px Helvetica, sans-serif;
  color: white;
}
hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#homelink {
  display: block;
  text-align: center;
  margin-top: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

div {
  display: flex;
  justify-content: center;
}

#content {
  margin-top: 2rem;
  height: 300px;
  border: 1px solid white;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.397);
}

.recipe-block {
  display: block;
  margin: auto;
  margin-top: auto;
  width: min(70%, 500px);
  background-color: rgba(0, 0, 0, 0.651);
}

#title {
  margin-top: 2rem;
  height: auto;
  border: 1px solid white;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.397);
  margin-bottom: 2rem;
}

.recipe-title {
  display: block;
  margin: auto;
  margin-top: auto;
  width: min(70%, 500px);
  background-color: rgba(0, 0, 0, 0.651);
}

img {
  width: 500px;
  box-shadow: 0px 0px 20px #000008;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  margin: 10px;
}

ol {
  margin: 10px;
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

p {
  margin: 10px;
  text-align: center;
}
